<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <form action="/editar/<%= pelicula[0].id %>" method="post">
        <input type="text" placeholder="Nombre" name="nombre" value="<%= pelicula[0].nombre %>">
        <input type="text" placeholder="Portada" name="portada" value="<%= pelicula[0].portada %>">
        <input type="text" placeholder="Descripcion" name="descripcion" value="<%= pelicula[0].descripcion %>">
        <input type="text" placeholder="Genero" name="genero" value="<%= pelicula[0].genero %>">
        <button>Editar</button>
    </form>
    <br>
    <%- include('partials/footer') %>
</body>
</html>